.menu-parent{
    text-align: center;
  }
  .nav-link-text{
    color: black;
    padding: .5em;
    margin-top: .5em;
  }
  .nav-link-text-profile{
    color: black;
    margin-top: .5em;
    padding-bottom: 1.7em;
  }
  .profile-icon{
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .7em;
    border: 1px solid black;
  }
  .icon-img{
    width: 21px;
    height: 24px;
  }
  .floating-div{
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .nav-menu{
    list-style: none;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    margin-top: 20px;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 11px;
  }
  .page-container{
    position: fixed;
    height: 100%;
    width: 100%;
    color: white;
    background-color: lightgrey;
    overflow: scroll;
  }